<template name="AppNav">
    <div class="app-nav">
    {{#if isInRole 'admin'}}
        <ul>
            <li><a href="/admin/users"><i class="fa fa-users"></i> <span>Usuarios</span></a></li>
        </ul>
    {{/if}}
    {{#if isInRole 'user'}}
        <ul>
              <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
              <li><a href="http://190.15.140.7/cam/"><i class="fa fa-video-camera"></i> <span>Video Vigilancia</span></a></li>

        </ul>
    {{/if}}
    </div>
</template>