<template name="Header">
    <header class="header">
        <h3 class="site-title"><a href="/"><img alt="Level Up Tutorials Logo" src="/logo.png" width="40">VR Security Application</a></h3>
        {{> MainNav}}
    </header>
    {{> LoginModal}}
</template>