<template name="MainNav">
    <nav class=" col-md-8 main-nav">
        <ul>

            {{#if currentUser}}
                <div class="col-md-10">Hola {{logedUser}} bienvenido a VR Security</div>
                <li class="col-md-2 logout upPadding pointerCursor">Cerrar Sesión</li>

            {{else}}
                <div class="col-md-10"></div>
                <li class="login-toggle col-md-2 upPadding pointerCursor">Iniciar Sesión</li>
            {{/if}}
            </ul>

    </nav>

</template>