<template name="Alerts">
            <h3 >Alertas de Seguridad</h3>

    <div class="col-md-8">
            <table id="tablaAlertas">
                <tr>

                    <th class="text-center borderRadiusright borderRadiusLeft">Fecha de Alerta</th>

                </tr>
                {{#each alertasSeguridad}}
                    <tr>

                        <td class="text-center">{{dateFormat}}</td>

                    </tr>
                {{/each}}
            </table>
    </div>
</template>