<template name="Dashboard">
      {{#if currentUser}}
             <h1 class="page-title">Dashboard</h1>
             {{>AppNav}}
      <div class="col-md-12">
          <div class="col-md-6">
          {{> charts}}
          </div>
          <div class="col-md-6">
              {{> Alerts}}
          </div>
      </div>
      <div class="col-md-12">
          {{> ModoSeguro}}
      </div>
        {{else}}
    <h1>Acceso denegado</h1>
          <h3>Regresar a la pagina de inicio <a href="/">aquí</a></h3>
      {{/if}}
</template>