<template name="EditUser">


<div class="modal " id="editUserModal_{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Editar Usuario: {{_id}}</h4>
			</div>
			<div class="modal-body">
				
				<form role="form">
					<div class="box-body">
						<div class="form-group">
						{{#each emails}}
							<label for="emailInput">Email</label>
							<input type="email" class="form-control" id="emailInput" placeholder="Email ..." value="{{address}}">
							{{/each}}
						</div>
						<div class="form-group">
							<label for="nameInput">Nombre</label>
							<input type="text" class="form-control" id="nameInput" value="{{profile.name}}" placeholder="Nombre">
						</div>
						<div class="form-group">
							<label for="cedulaInput">Cédula de Identidad</label>
							<input type="text" class="form-control" id="cedulaInput" value="{{profile.cedula}}" placeholder="Cédula de Identidad">
						</div>
						
						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">Roles</h3>
								<div class="box-tools">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
									</button>
								</div>
							</div>
							<div class="box-body no-padding">
								<ul class="nav nav-pills nav-stacked">
									{{#each tmp_roles}}
									<li><a href="#"><i class="fa fa-circle-o text-red"></i> {{this}} </a><i class="fa fa-close remove-role"></i></li>
									{{/each}}
								</ul>
							</div>
							<!-- /.box-body -->
						</div>
						<div class="form-inline">
						<select class="form-control select2"  style="width: 80%;" id="select_input">
							{{#each all_roles}}
							<option value="{{name}}">{{name}}</option>
							{{/each}}
						</select>
						<button class="btn fa fa-plus add-role"></button>
						</div>
						
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
				
				
			</div>
			
		</div>
	</div>
</div>
</template>