<template name="Home">

    <div class="billboard text-center">
        <h2>VR Security</h2>
        <h3>Proyecto Titulación</h3>
        <h4>Universidad de las Fueszas Armadas ESPE</h4>
        <h5>Powered by Andrés Rivadeneira</h5>

        <div class="btn-group">

        </div>
    </div>
</template>