<template name="ModoSeguro">

    <h1 >Configuraciones de Video Vigilancia</h1>
    <div class="col-md-12">


        <h3>Modo Seguro:</h3>
    {{#if modoSeguroOption}}

        <label class="switch">

            <input id="modoSeguro" name="modoSeguro" checked class="toggleModoSeguro" type="checkbox">
            <div class="slider round"></div>
        </label>

    {{else}}
        <label class="switch">
            <input id="modoSeguro" name="modoSeguro" class="toggleModoSeguro" type="checkbox">
            <div class="slider round"></div>
        </label>

    {{/if}}
    </div>


</template>