<template name="Users">
    {{#if currentUser}}
        {{#if isInRole 'admin'}}
                <h1 class="page-title">Usuarios</h1>
                <table class="{{editMode}}">
                    <tr>
                        <th>Editar</th>
                        <th>Usuario</th>
                        <th>Nombres</th>
                        <th>Fecha Creación</th>
                        <th>Roles</th>
                    </tr>
                {{#each users}}
                    <tr>
                        <td class="user_id"><i class="fa fa-pencil"></i></td>
                        <td>{{{userEmail}}}</td>
                        <td>{{profile.firstName }}</td>
                        <td>{{dateFormat}}</td>
                        <td>{{isAdmin}} {{isUser}}
                            {{#if currentEdit}}
                                <div class="user-edit">
                                    <i class="fa fa-close close-edit-mode"></i>
                                    <h3>Editar Roles</h3>
                                    {{#if isAdmin}}
                                        <button class="toggle-admin admin">Quitar de Administrador</button>
                                        {{else}}
                                         <button class="toggle-admin admin">Convertir en Administrador</button>
                                    {{/if}}
                                    {{#if isUser}}
                                        <div class="col-md-12">
                                        <div class="col-md-1"></div>
                                        <button class=" toggle-user educador">Quitar del rol Usuario</button>
                                        </div>
                                    {{else}}
                                        <button class="toggle-user educador">Convertir para el rol Usuario</button>
                                    {{/if}}

                                </div>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
                </table>
            {{else}}
            <h1>Acceso denegado</h1>
            <h3>Regresar al dashboard <a href="/dashboard">aquí</a></h3>
            {{/if}}
    {{else}}
        <h1>Acceso denegado</h1>
        <h3>Regresar a la pagina de inicio <a href="/">aquí</a></h3>
    {{/if}}
</template>