normalize-css()

// Material Shadows
shadow-level(l = 1)
    if l == -1
        box-shadow: inset -2px 7px 9px -7px rgba(0,0,0,0.7);
    if l == 0
        box-shadow: none;
    if l == 1
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    if l == 2
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    if l == 3
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    if l == 4
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    if l == 5
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// Common Transition
trans($sec = 0.3s)
    transition: all $sec ease
// Grid
$xsmall = 340px
$small = 500px
$med = 700px
$large = 960px
$wide = 1200px

// Colors
black = #222
grey = #D8D8D8
light-grey = #EEE
purp = #524763
dark-purp = #373142
red = #E54B4B
teal = #82D8D8
dark-teal = #66A6A6
green = #CBE56C
blue = #16528E
bright-blue = #0082C8
maroon = #6A2140
light-red = #CA5765
pink = #CF256D
orange = #E8846B


z = {
    neg: -7,
    lowest: 1,
    low: 4,
    mid: 5,
    video: 6,
    header: 7,
    nav: 8,
    mini: 9,
    modal: 10,
    highest: 11
}



.main-layout
    background #ebebeb
    lost-center 90%
    margin-top 20px
    +above($med)
        lost-center 90%
        padding-left $side-nav
    +above($large)
        lost-center 80%
        margin-top 40px
        padding-left $side-nav-large


.recipe
    background #ebebeb
    padding 0 20px 20px
    margin-bottom 20px
    position relative
    z-index 1
    shadow-level(1)
    trans()
    .btn-primary, .btn-deny
      display block
    &.in-menu
        background teal
        color #FFF
        h3
            border-bottom: rgba(255,255,255, 0.6) solid 3px
    h3
        font-size: 3em;
        opacity: 0.3;
        border-bottom: rgba(0,0,0, 0.3) solid 3px
        margin-top 0
        margin-bottom 10px
    button
        margin-top 20px
    .fa-trash, .fa-pencil
        opacity 0.3
        cursor pointer
        position absolute
        top 0
        right 0
        font-size 1.6em
        display block
        padding 20px
        color black
        trans()
        &:hover
            color red
            opacity 0.6
    .fa-pencil
      right 40px
      &:hover
        color purp
        opacity 0.6
    .ingredient
        display inline-block
        margin-right 10px
        font-size 1.2em
    &:hover
        shadow-level(3)
        // animation card 0.6s ease 1 forwards

@keyframes card
    0%
        transform translate3d(0, 0, 0)
    50%
        transform translate3d(0, -135px, 0)
    51%
        z-index 10
        transform translate3d(0, -135px, 0)
    100%
        z-index 10
        transform translate3d(0, 0, 0)