@import 'sass/_normalize.scss';
@import 'sass/_base.scss';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 3.998em;
}

h2 {
    font-weight: 100;
    font-size: 3.157em;
}

h3 {
    font-size: 1.777em;
    font-weight: 100;
}

p {
    font-size: 1em;
}

a {
    color: $accent;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px 10px 7px 8px;

    border: groove;
    border-radius: 5px;
}
input[type='email']{
    margin-left: 48px;
}
input[type='password']{
    margin-left: 20px;
}
input[type="text"]{
    margin-left: 30px;
}
.btn, button {
    background: $action;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 800;
    padding: 10px 51px 7px;
    color: #FFF;
    letter-spacing: 1px;
    border: solid 2px $action;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
}

.btn-text {
    @extend .btn;
    background: transparent;
}

.btn-primary {
    @extend .btn;
    background: $accent;
    border: solid 2px $accent;
    &:hover {
        background: $accent - 30;
        border-color: $accent - 30;
    }
}


.header {
    background: black;
    border-bottom: 1px solid $dgrey;
    color: whitesmoke;
    position: relative;
    z-index: 10;
    height: 60px;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    @include card(1);
    a {
        color: whitesmoke;
    }
    .site-title {
        line-height: 0;
        margin: 0;
    }
}

.main-nav {
    ul {
        list-style: none;
        display: flex;
        padding: 0;

    }
    li + li {
        margin-left: 20px;

    }
    a {
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }
}

.login-toggle {
    cursor: pointer;
}


// Homepage
.billboard {
    background-image: url('/met-stars.png'), linear-gradient(#202023, #19283f);
    color: #FFF;
   // text-align: center;
    border-bottom: 1px solid $dgrey;
    padding: 40px 5%;
}


.app-layout {
    margin-left: 80px;
    min-height: 100vh;
    padding: 40px 60px;
}

.app-nav {
    z-index: 9;
    position: fixed;
    width: 80px;
    left: 0;
    top: 0;
    height: 100vh;
    background: black;
    overflow: hidden;
    color: white;
    padding-top: 100px;
    transition: all 0.3s ease;
    border-right: solid 1px $dgrey;
    &:hover {
        width: 300px;
        a > span {
            opacity: 1;
            transform: translate3d(0, 0,0);
        }
    }
    a {
        width: 100%;
        padding: 10px 25px;
        color: white;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        i {
            font-size: 2em;
            margin-right: 20px;
        }
        > span {
            transform: translate3d(20px, 0,0);
            opacity: 0;
            transition: background 0.3s ease;
        }
        &:hover {
            color: #000;
            border-color: $action;
            background: whitesmoke - 20;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.page-title {
    margin-top: 0;
}

table {
    font-size: 0.8em;
    width: 100%;
    position: relative;
    transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    tr:nth-child(even) {
        background: #EEE
    }
    td, th {
        text-align: left;
        padding: 10px 5px;
    }
    th {
        text-transform: uppercase;
        background: $dblue;
        color: #fff;

   }
    &.edit-mode {
        transform: translate3d(300px, 0, 0);
    }
}
.user_id{
    color:$blue;
    cursor: pointer;
    text-align: center;
}

.user-edit {
    position: absolute;
    left: -300px;
    top:0;
    background: #fff;
    z-index:10;
    padding:20px;
    width: 280px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.68,-0.65,0.265,1.20);
    @include card(2);
    .close-edit-mode{
        position: absolute;
        top:0;
        right:0;
        padding: 20px;
        font-size: 1.2em;
        font-weight: 900;
        text-transform: uppercase;
        cursor: pointer;
    }

}
.edit-mode .user-edit{
    opacity: 1;
}
.at-title{
    text-align: center;
}
.at-pwd-form{
    text-align: center;
}
.at-padding{
    margin-left: 5px;
}
.educador{
    background: #1b66ff;
    border:#1b66ff;
    border-radius: 10px;
    color: #FFFFFF;
}
.coordinador{
    background:goldenrod;
    border:goldenrod;
    border-radius: 10px;

}
.jefeArea{

    background:mediumseagreen;
    border:mediumseagreen;
    border-radius: 10px;

}
.admin{
    border-radius: 10px;
    color: #FFFFFF;
}
.upPadding{
    padding-top: 15px;
}
.pointerCursor{
    cursor: pointer;
 //   color: #1b66ff;
}
.btn-Agregar{
    cursor: pointer;
    color: #1b66ff;

}
.addButtonRounded{
    border-radius: 10px;
}
.space-normal{
    margin-bottom: 10px;
}
.template-frm{
shadow-level:2;
}
.navYearPlanner-leftCorner{
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
}
.navYearPlanner-rightCorner{
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
}
.pointerCursor-red{
    cursor: pointer;
    color: #de4f4f;
}
.border-special{
    border:groove;
}
.color-azul{
    color: dodgerblue;
}
.space-panel{
    padding-top: 10px;
}
.color-boton-unidad{
    background:cornflowerblue;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.borderRadiusLeft{
    border-top-left-radius: 10px;
}
.borderRadiusright{
    border-top-right-radius: 10px;
}