<template name="LoginModal">
    {{#if $not currentUser}}
        <div class=" col-md-6 login-modal {{$.Session.get 'nav-toggle'}}">
            <i class="fa fa-close close-login"></i>
            {{> atForm}}
        </div>
    {{/if}}
</template>